step0/boesp.dtd

<?xml version="1.0" encoding="UTF-8"?>
<!ELEMENT boesp (entry)*>
<!ELEMENT entry (#PCDATA | info | S | D | F | V | HS |H)*>
<!ELEMENT info EMPTY >
<!ELEMENT S (#PCDATA | note)* >
<!ELEMENT D (#PCDATA | g |s )* >
<!ELEMENT F (#PCDATA | g |s )* >
<!ELEMENT V (#PCDATA | g |s)* >
<!ELEMENT HS (#PCDATA | g |s)* >
<!ELEMENT g (#PCDATA) >  <!-- Greek -->
<!ELEMENT s (#PCDATA) >  <!-- Devanagari, originally coded as {#...#} -->
<!ELEMENT H (#PCDATA) >  <!-- 'header', only 2 -->
<!ELEMENT note (#PCDATA) >  <!-- a note within S at D1364 -->
<!ATTLIST info n CDATA #REQUIRED>
<!ATTLIST D n CDATA #REQUIRED>
<!ATTLIST D a CDATA #REQUIRED>
<!ATTLIST F n CDATA #REQUIRED>
<!ATTLIST V n CDATA #REQUIRED>

<!--
<!ELEMENT  ap90 (H1)*>
<!ELEMENT H1 (h,body,tail) >
<!ENTITY % body_elts "b | i | s |div | alt | symbol | F |  br | H | root |lb | P | lang | sup | pic | ls |ab|lbinfo|s1|lex|vlex|C|Poem|note|nsi |sic|is|bot|VN|type|hom|mark|edit|bio|etym|pb|pc|pcol|shortlong|srs|info|ns|span" >
<!ELEMENT h  (key1,key2,hom?)>
<!ELEMENT key1 (#PCDATA) >
<!ELEMENT key2 (#PCDATA )>
<!ELEMENT hom (#PCDATA)>
<!ELEMENT body (#PCDATA  | %body_elts;)*>
<!ELEMENT br EMPTY >
<!ELEMENT lb EMPTY>
<!ELEMENT F (#PCDATA  | %body_elts;)*>
<!ELEMENT s (#PCDATA | br | srs | shortlong)*>
<!ELEMENT H EMPTY>
<!ELEMENT P EMPTY>
<!ELEMENT b (#PCDATA  | %body_elts;)*>
<!ELEMENT i (#PCDATA  | %body_elts;)*>
<!ELEMENT symbol (#PCDATA)>
<!ELEMENT div (#PCDATA  | %body_elts;)*>
<!ELEMENT span (#PCDATA  | %body_elts;)*>
<!ELEMENT tail (#PCDATA | L | pc |hwtype|info)*>
<!ELEMENT L (#PCDATA) >
<!ELEMENT pc (#PCDATA) >
<!ELEMENT hwtype EMPTY>
<!ELEMENT alt (#PCDATA | s)*>
<!ELEMENT sup (#PCDATA |s)*>
<!ELEMENT lang (#PCDATA | %body_elts; )* >
<!ELEMENT pic EMPTY >
<!ELEMENT s1 (#PCDATA)*>
<!ELEMENT lex (#PCDATA | %body_elts;)* >
<!ELEMENT vlex EMPTY >
<!ELEMENT Poem (#PCDATA  | %body_elts;)*>
<!ELEMENT note EMPTY>
<!ELEMENT nsi (#PCDATA)*>
<!ELEMENT is (#PCDATA)*>
<!ELEMENT sic EMPTY >
<!ELEMENT bot (#PCDATA  | %body_elts;)*>
<!ELEMENT root EMPTY >
<!ELEMENT ls (#PCDATA | %body_elts;)*>
<!ELEMENT ab (#PCDATA)>
<!ELEMENT lbinfo EMPTY>
<!ELEMENT C EMPTY>
<!ELEMENT VN (#PCDATA | %body_elts; )* >
<!ELEMENT type (#PCDATA)>
<!ELEMENT info (#PCDATA)>
<!ELEMENT mark EMPTY >
<!ELEMENT edit EMPTY >
<!ELEMENT etym (#PCDATA | %body_elts; )* >
<!ELEMENT ns (#PCDATA )* >
<!ELEMENT bio (#PCDATA )* >
<!ELEMENT pb (#PCDATA) >
<!ELEMENT pcol (#PCDATA) >
<!ELEMENT shortlong EMPTY>
<!ELEMENT srs EMPTY >

<!ATTLIST symbol n CDATA #REQUIRED>
<!ATTLIST div name CDATA #IMPLIED>
<!ATTLIST div n (P | 2 | 3 | lb |pfx |1 | I | xe | xs |p|H|P1|HI|F|NI|m|o|4|v|E|Poem|Picture|lex|to|vp|Q) #IMPLIED>
<!ATTLIST span style CDATA #IMPLIED>
<!ATTLIST span class CDATA #IMPLIED>
<!ATTLIST hwtype n (alt | sub | n) #REQUIRED>
<!ATTLIST hwtype ref CDATA #REQUIRED>
<!ATTLIST lang n (greek | arabic | meter |slavic|russian|oldhebrew|Old-Church-Slavonic|Arabic|Hindustani|Persian|Turkish|hebrew) #REQUIRED>
<!ATTLIST lang script (Arabic) #IMPLIED >

<!ATTLIST pic name CDATA #REQUIRED>
<!ATTLIST ab n CDATA #IMPLIED>
<!ATTLIST lbinfo n CDATA #REQUIRED>
<!ATTLIST s1 slp1 CDATA #IMPLIED>
<!ATTLIST vlex type (root) #REQUIRED>
<!ATTLIST C n (1 | 2 | 3 | 4 | 5 | 6 | 7 | 8 | 9 | 10 | 11 | 12) #REQUIRED>
<!ATTLIST note  n (1) #REQUIRED>
<!ATTLIST is n (1) #IMPLIED>
<!ATTLIST ls n CDATA #IMPLIED>
<!ATTLIST hom n (pwk) #IMPLIED>
<!ATTLIST info seq CDATA #IMPLIED>
<!ATTLIST info n CDATA #IMPLIED>
<!ATTLIST info part CDATA #IMPLIED>

<!ATTLIST info and CDATA #IMPLIED >
<!ATTLIST info lex CDATA #IMPLIED >
<!ATTLIST info lexcat CDATA #IMPLIED >
<!ATTLIST info or CDATA #IMPLIED >
<!ATTLIST info orsl CDATA #IMPLIED >
<!ATTLIST info phwchild CDATA #IMPLIED >
<!ATTLIST info phwparent CDATA #IMPLIED >
<!ATTLIST info verb (root|genuineroot|pre|gati|nom) #IMPLIED >
<!ATTLIST info westergaard CDATA #IMPLIED >
<!ATTLIST info whitneyroots CDATA #IMPLIED >
<!ATTLIST info pc CDATA #IMPLIED >

<!ATTLIST mark n (P | H | Picture) #REQUIRED>
<!ATTLIST edit type (hw) #REQUIRED>
<!ATTLIST lex type (hw | hwalt | hwifc | hwinfo | nhw | part | phw ) #IMPLIED >
<!ATTLIST info cp CDATA #IMPLIED >
<!ATTLIST info parse CDATA #IMPLIED >
<!ATTLIST pb n CDATA #IMPLIED >
<!ATTLIST ab slp1 CDATA #IMPLIED >
  -->
